@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Alata, sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: #e9e8e8;
    margin-bottom: 150px;
}

/* Header */

header {
    height: 150px;
    background-color: #3a3a3a;  
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#nav, #logo {
    line-height: 75px;
}

#nav {
    float: right;
    list-style-type: none;
    float: right;
    margin-right: 30px;
    margin-top: 90px;
    color: aliceblue;
    letter-spacing: 4px;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

    
#nav a:hover {
    border-bottom: 1px solid aliceblue;
}

.active {
    border-bottom: 1px solid aliceblue;
}

header h1 {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    line-height: 150px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
    
}

.great-venues {
	background-color: #d37116;
    
    width: 400px;
    height: 150px;
}

.competitions {
	background-color: #bd6615;
	
	width: 400px;
    height: 150px;
  
}

.social {
	background-color: #a75b15;

    width: 400px;
    height: 150px;
    
}


/* Why Us? */

#why-us {
    height: 500px;
    padding-top: 50px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
    color: black;
    text-transform: uppercase;
}

.main-images {
    display: flex;
    justify-content: center;   
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    opacity: 0.3;
  }

/* main content */

#main-content {
    height: 1150px;
}

#main-content > img {

    height: 300px;
    width: 800px;
}

#position-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#position-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.left-content {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-left: 150px;
    padding: 30px;
}


.right-content {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-right: 150px;
    padding: 30px;
}
  
hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}  

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    line-height: 60px;
    background-color: #3a3a3a;
}

.social-media {
    text-align: center;
    color: white;

}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 130%;
    margin: 60px;   
    color: white;
}


/* Signup*/

#signup {
    height: 1100px;
    background-image: url(../images/main-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: none;
    padding-bottom: 1px;
}

.block-label {
	display: block;
}

form {
	width: 700px;
    height: 800px;
	padding: 25px;
	border-radius: 8px;
    margin-right: 100px;
    margin-top: 100px;
	float: right;
    clear: both;
    background-color: aliceblue;
    opacity: 0.9;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 10px;
}

fieldset {
	border: none;
	margin-top: 20px;
}


/*Gallery*/

#gallery {
    clear: both;
    column-count: 4;
    column-gap: 0; 
}

#gallery img {
    width: 100%;   
 }


 /* Media Queries */

 /* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #nav {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-top: -25px;
        line-height: 25px;
    }

    video {
        padding-top: 15px;
    }

    .great-venues, .competitions, .social {
        height: 200px;
    }

   .left-content, .right-content {
        width: 100%;
        float: left;
        padding: 0;
    }

    .content-image {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
}

@media screen (max-width: 850px) {
    
.content-image {
    clear: both;
    margin: 0;
}

}
